

.modal{
    position: absolute;
    top: 50%;
    height: 176px;
    width: 309px;
    padding: 37px 53px 37px;    
    background-color: white;
}


.modal__text{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Play', Helvetica, Arial, sans-serif;
    text-transform: none;    
    color: black;
    margin-bottom: 15px;
}

.modal__overlay{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(00, 00, 00, .8);
    display: flex;
    align-items: center;
    justify-content: center;
}

